@font-face {
	font-family: customfont;
	src: url(transfonter.org-20221001-194427/Exo-Regular.woff2);
}



/* Main section */

.main {
	margin: 0;
	display: block;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-80%);
	transform: translate(-50%,-80%);
}

#search {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.192);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#titletext {
	padding: 1em;
	font-weight: 800;
}

#temp {
	padding: 1em;
}

#humidity {
	padding: 1em;
}

#sky {
	padding: 1em;
}

#backgroundbox {
	background-color: rgba(0, 0, 0, 0.151);
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-77%);
	transform: translate(-50%,-77%);
	padding: 150px;
	border-radius: 2em;
}


